.cardBody textarea {
    margin: 20px auto;
    resize: none;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: none;
    text-align: center;
    min-height: 230px;
    max-width: 230px;
}
.cardBody p {
    word-wrap: break-word;
    margin: 20px auto;
    max-width: 220px;
    min-height: 230px;
    font-size: 1.3em;
    text-align: center;
}